@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to Posh Foods!</h1>
    <p >

            Posh Foods is a food factory feeding people since 1981. We have branches in different parts of
            the nation and aiming to provide the services globally.
            We provide various types of sweets and savouries products. Our food is fresh and healthy and
            you will get all the nutritions from it.
           


     </p>

<div>
    
    <img src="~/good-food-quotes.jpg" style="float:right; width:300px; height:300px;">
</div><br />

          



<p>
   Contact us at main branch located in Sydney to order:
</p>
<p class="list-group">

  <b>Phone:</b> +61426975578<br />
   <b>Email:</b> contact@poshfoods.com.au<br />
    <b> Address:</b> 105/120 Turrella Street, Turrella, NSW, 2205<br />

</p><br />
 <p>[Note: We might also have a branch in your region. Give us a call!!! ]</p>
